<!-- The main view -->

<section class='' ng-controller="karttaMainController">
    

    


 
    
<div class='container'>
    <div class="col-md-12"></div>    
    
    
    
<div class="row well well-lg"> 
  
    <div class="col-md-7"><p class='lead'>You, <strong>{{userstate.name}}</strong>, are in TrackRoom <strong>{{userstate.trackroom}}</strong>. </p></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
    <button class="btn btn-success btn-large" ng-click="returnToStart()">Leave {{userstate.trackroom}}</button>
    </div>
<div class="col-md-12">
<span ng-repeat="(key, value) in userinfo">
<button class="btn btn-primary btn-xs" style="background-color: {{value.color}}; border-color: {{value.color}}; border-width: 5px; border-radius: 20px;" ng-click="userButtonPressed(key)">
         <span class="badge">{{ value.name }}:{{ value.id }}</span>
</button>
</span>
</div>
<div class="angular-google-map-container col-md-12">    
<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
    

    <ui-gmap-markers models="userMarkers" coords="'self'" icon="'icon'" doRebuildAll="true" idKey="'idKey'">
        </ui-gmap-markers>
</ui-gmap-google-map>    
</div>
    <div class="well col-md-12">            
<button class="btn btn-primary btn-xs" ng-click="toggleTracking()">
        SHOW POSITION 
        </button>
<button class="btn btn-primary btn-xs" ng-click="testMap()">
        MAP TEST
        </button>
        </div>
<!-- The message form -->
    <form class='col-md-12' ng-submit="sendMessage();">
        <div class='form-group'>
        <input type="text" data-ng-model="messageText" />
        <input type="number"  data-ng-model="messageLatitude" />
        <input type="number"  data-ng-model="messageLongitude" />
        <input type="submit">
        </div>
        </form>
    
    <div class="col-md-12" data-ng-repeat="message in messages" data-ng-switch="message.type">
        <!-- Status messages bolder -->
        <strong data-ng-switch-when='status'>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.date | date:'mediumTime'"></span>
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            <span></span>
            <span data-ng-bind="message.text"></span>
        </strong>
        <!-- Render regular messages -->
        <span data-ng-switch-default>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.created | date:'mediumTime'"></span>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            <span data-ng-bind="message.text"></span>
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <span data-ng-bind="message.kartta_response_text"></span>
        </span>
    </div>
</div> 
</div>
</section>