<!-- The main view -->

<section class='' ng-controller="karttaMainController as mainCtrl">
    

    


 
    
<div class='container'>
    <div class="col-md-12"></div>    
    
    
    
<div class="row well well-lg"> 
  
    <div class="col-md-7"><p class='lead'>You, <strong>{{mainCtrl.userstate.name}}</strong>, are in TrackRoom <strong>{{mainCtrl.userstate.trackroom}}</strong>. </p></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
    <button class="btn btn-success btn-large" ng-click="mainCtrl.returnToStart()">Leave {{mainCtrl.userstate.trackroom}}</button>
    </div>
<div class="col-md-12">
<span ng-repeat="(key, value) in mainCtrl.userinfo">
<button class="btn btn-primary btn-xs" style="background-color: {{value.color}}; border-color: {{value.color}}; border-width: 5px; border-radius: 20px;" ng-click="userButtonPressed(key)">
         <span class="badge">{{ value.name }}:{{ value.id }}</span>
</button>
</span>
</div>
<div class="angular-google-map-container col-md-12">    
<ui-gmap-google-map center='mainCtrl.map.center' zoom='mainCtrl.map.zoom' options="mainCtrl.options">
    

    <ui-gmap-markers models="mainCtrl.userMarkers" coords="'self'" icon="'icon'" doRebuildAll="true" idKey="'idKey'">
        </ui-gmap-markers>
</ui-gmap-google-map>    
</div>
    <div class="well col-md-12">            
<button class="btn btn-primary btn-xs" ng-click="mainCtrl.toggleTracking()">
        {{mainCtrl.showPosText}} 
        </button>
<button class="btn btn-primary btn-xs" ng-click="mainCtrl.testMap()">
        MAP TEST
        </button>
        </div>
<!-- The message form -->
    <form class='col-md-12' ng-submit="mainCtrl.sendMessage();">
        <div class='form-group'>
        <input type="text" data-ng-model="mainCtrl.messageText" />
        <input type="submit">
        </div>
        </form>
    
    <div class="col-md-12" data-ng-repeat="message in mainCtrl.messages" ng-switch="message.type">
        <!-- Status messages bolder -->
        <strong ng-switch-when='status'>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.date | date:'mediumTime'"></span>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span data-ng-bind="message.name"></span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span data-ng-bind="message.text"></span>
        </strong>
        <!-- Text messages -->
        <span ng-switch-when='textMessage'>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.date | date:'mediumTime'"></span>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
            <span data-ng-bind="message.name"></span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span data-ng-bind="message.text"></span>
        </span>
        <!-- Render regular messages -->
        <span ng-switch-default>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.date | date:'mediumTime'"></span>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span data-ng-bind="message.text"></span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span data-ng-bind="message.kartta_response_text"></span>
        </span>
    </div>
</div> 
</div>
</section>