<!-- The main view -->
<div class='row'>
<div class='container'>
<section class='well well-lg' data-ng-controller="karttaMainController">

    
    
<p>HELLO</p>
    
    <div class="well">            
<button class="btn btn-primary btn-xs" ng-click="testMessage()">
        TEST
        </button>
        </div>
<!-- The message form -->
    <form class='' ng-submit="sendMessage();">
        <div class='form-group'>
        <input type="text" data-ng-model="messageText">
        <input type="submit">
        </div>
        </form>
    
    <div data-ng-repeat="message in messages" data-ng-switch="message.type">
        <!-- Status messages bolder -->
        <strong data-ng-switch-when='status'>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.created | date:'mediumTime'"></span>
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            <span></span>
            <span data-ng-bind="message.text"></span>
        </strong>
        <!-- Render regular messages -->
        <span data-ng-switch-default>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span data-ng-bind="message.created | date:'mediumTime'"></span>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            <span data-ng-bind="message.text"></span>
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <span data-ng-bind="message.kartta_response_text"></span>
        </span>
    </div>
    
    
</section>
</div>
</div>