
<section class='col-sm-8 col-sm-offset-2 well well-lg' data-ng-controller="karttaMainController">
<div class='row'>
<div class='container'>
    
    <div class="col-sm-8 col-sm-offset-2 center-block">
    <div class="col-sm-8 col-sm-offset-2 center text-center">
    <h1>Welkome to Track-rooms!</h1>
    </div><div class="col-sm-2 "></div>
    <div class="col-sm-4 col-sm-offset-4">
    <p>Name: <input class="input-lg text-center" type="text" ng-model="userstate.name" value=""></p>
    </div>
    <div class="col-sm-4 "></div>
    <div class="col-sm-4 col-sm-offset-4">
    <p>Trackroom: <input class="input-lg text-center" type="text" ng-model="userstate.trackroom" value=""></p>
    </div>
    <div class="col-sm-4 "></div>
    <div class="col-sm-4 col-sm-offset-4 text-center">    
    <a  href="/#/kartta" role="button" class="btn btn-success btn-large">Enter {{userstate.trackroom}}</a>
    </div>
    <div class="col-sm-4 "></div>
    </div>
    </div>
</div>
    </section>

