<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link media='all' rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
      
    <title><%= title %></title> 
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     
    <!-- Angular application here -->  
    <section ng-view></section>
      
    <!-- socket.io -->  
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
      <!-- JQuery Bootsrap -->
      <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- karttaMain module-->
       <script type="text/javascript" src="/karttaMain/karttaMain.client.module.js"></script>
       <script type="text/javascript" src="/karttaMain/karttaMain.client.routes.js"></script>
       <script type="text/javascript" src="/karttaMain/karttaMain.client.controller.js"></script>
      <!-- Angular services -->
      <script type="text/javascript" src="/services/socketio.client.service.js"></script>
      <script type="text/javascript" src="/services/userstate.client.service.js"></script>
      <!-- Angular googlemaps -->
      <script src='/lib/lodash/dist/lodash.min.js'></script>
	  <script src='/lib/angular-google-maps/dist/angular-google-maps.min.js'></script>
      <!-- Bootstrap AngularJS application -->
      <script type="text/javascript" src="/application.js"></script>
      
  </body>
</html>
